@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

*{
    margin:  0;
    padding: 0;
    /* color: #f2f5f7; */
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
    letter-spacing: 0px;
    font-weight: 200;
    /* border-radius: 6px solid red; */
    /* overflow-x: hidden; */
    
}
html{
  scroll-behavior: smooth;
}
body{
position: relative;
color: black;
}
.spinner-wrapper{
  background-color:#fff;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.spinner-border{
  width: 70px;
  height: 70px;
}
.navlogo{
  width:200px;
}
.btnsubmit{
    background-color: #0073ff;
    border-radius: 30px;
}
/* .swiper-pagination{
  bottom: 80px ;
  rotate: 180px;
  border-radius: ;
  color: black;
  background: #000000;
} */
.bold{
font-weight: bold;
font-size: 15px;
}
.bold2{
font-weight: bold;
margin-left: 10px;
}

.container{
margin-top: 5px;
margin-bottom: 0px;
overflow-x: hidden;
}
.btn{
font-size: 20px;
width: 40%;
margin-left: 99px;
}
.carousel-indicators{
right:-490px ;
height:px ;
}
.white1{
color: white;
line-height: normal;
font-size: 30px;
font-weight: bold;
align-items: start;
float: left;
justify-content: left;
box-shadow: #555353;
border-radius:5px ;
position: relative;
}
.btn-move{
font-size: 20px;
width: 40%;
margin-left: 99px;
}
.carousel-caption{
  /* transform: translate(-10%); */
  /* bottom:initial; */
  /* left:10%; */
  position: absolute;
  bottom: 25px;
  left: 5px;
}
/* .carousel{
  height: 200px;
} */
.colo{
color: #0073ff;
font-weight: bold;
}
.card-title{
color: #0073ff;
max-width: fit-content;
}
.section-h{
color: #0073ff;
font-weight: bold;
}
.border{
border: 1px solid #0073ff;
}

.home-content{
border: 1px solid #b6b6b6;
text-align: center;
padding: 25px 30px 20px;
background: transparent;
margin: 0px 0px 20px;
transition: all 0.3s ease-in-out;
}
.home-icon{
margin: 0px auto 22px;
background: #f8f8f8;
border-radius: 50%;
width: 120px;
height: 120px;
line-height: 120px;
display: flex;
align-items: center;
justify-content: center;
}
.banner-img{
transition: all 0.3s ease-in-out;
/* background: #fff; */
background-size: cover;
background-position: 0px -90px ;
background-repeat:none;
padding: 50px 0px;
height: 300px;
}
.banner_body{
position: absolute;
background:#fff;
border-radius: 12px;
margin-right: 50%;
padding: 20px;
/* margin-bottom: 1860px; */
margin-left: 25px;
text-align: left;
z-index: 1;
opacity: 80%;
}
.banner2{
margin-bottom: 45px;
}
.banner_body .banner2{
background-position: 0px -90px;
}

.price_drop{
border: 1px solid #c6c6c6;
display: inline-block;
width: 100%;
margin-bottom: 20px;
transition: all 0.3s ease-in-out;
}
.price_drop_left{
float: left;
width: 60%;
padding: 10px;
padding-top: 0px;
}
.main_price{
color: #4a4a4a;
font-size: 22px;
font-weight: 900;
display: block;
}

.offer_price{
color: #d9d9d9;
font-size: 20px;
text-decoration: line-through;
margin-top: 5px;
display: block;
margin-bottom: 20px;
}

.inner_city{
font-weight: 500;
font-size: 15px;
color: #717171;
display: block;
}
.price_drop_left {
float: left;
margin-top: 30px;
}
.pl_right_icon{
float: left;
margin-top: 10px;
list-style: none outside none;
padding: 0px;
display:flex;
/* justify-content:space-around; */
margin-right:19px;
/* padding: 10px; */
}
.spac{
  margin-left: 15px;
}
.spac2{
  margin-left: 10px;
}
.price_drop_inner_right{
position: relative;
float: right;
width: 40%;
}
.price_drop_inner_right img {
height: 312px;
object-fit: cover;
width: 100%;
}
.featured_tags{
position: absolute;
top: 15px;
right: 15px;
z-index: 1;
}
.img-fluid {
max-width: 100%;
height: auto;
}
img {
max-width: 100%;
width: auto;
height: auto;
vertical-align: middle;
border: 0;
}
.aplogo{
width: 60%;
}
.socials {
text-align: right;
float: right;
list-style: none outside none;
padding: 0px;
margin: 0px;
}
.icons{
font-size: 30px;
color: #fff;
margin-left: 20px;
background-color: #0073ff;
border-radius: 80%;
}
.so_ul {
list-style: none outside none;
padding: 0px;
margin: 20px;
display:flex;
text-align: right;
}
.sub_sec{
color: #1c212d;
text-transform: capitalize;
font-weight: bold;
margin-bottom: 15px;
font-size: 12px;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.list{
  list-style: none outside none;
  padding: 6px;
  margin: 0px;
  font-size: 12px;
}

.Ad{
  list-style: none outside none;
  padding: 6px;
  margin: 0px;
  font-size: 12px;
}
.footer_dev{
  list-style: none outside none;
  padding: 6px;
  margin: 0px;
  font-size: 12px;
}

.About{
  list-style: none outside none;
  padding: 6px;
  margin: 0px;
  font-size: 12px;
}

.select-box{
    outline: none;
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width:100%;
    /* color:rgb(216, 23, 23) ; */
    background-color:  rgb(130, 15, 141) ;
    font-size: 20px;
    border-radius: 30px;
}
.dropdown-toggle{
    background-color: rgb(184, 184, 184);
     color: #000;
     text-decoration: none;
}
.el{
  display: inline-block;
  width:100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}
.ell{
  padding-left:0px;
  width: 100px;
}
.popular_image{
  width: 40px;
  height: 50px;
  display: inline;
  float: left;
  border-radius: 5px;
  margin-right: 15px;
  list-style: none;
}
.popular_details{
  display: block;
  font-size: 12px;
}

.popular_price{
float: left;
width: 50%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 12px;
}
.popular_views{
font-size: 13px;
list-style: none;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
float: right;
width: 23%;
font-size: 12px;
}
.pl{
  margin-bottom: 0px;
}

.container2{
    min-height: 50vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px 90px;
    background: red;
  }
 
  .list-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .list-section .list1{
    flex:1;
  }
  /* img{ */
    /* width:540px;
    height:500px ;
  } */
  .card-link{
    font-size: 15px;
  }
  .imgtest{
    width:500px;
    height:500px ;
}
.swiper, swiper container {
margin-left:1px ;
width: 650px;
height: 500px;
}
.list_box{
width: auto;
min-width: 350px;
margin-bottom: 15px;
border: 1px solid #c6c6c6;
transition: all 0.3s ease-in-out;   
}
.logo_left{
position: relative;
top: -222px;
left: 15px;
z-index: 1;
}
.price_neg{
position: relative;
top: -270px;
right: -195px;
z-index: 1;
}
.price_neg3{
  position: relative;
  top: -270px;
  right: -255px;
  z-index: 1;
  }
.price_neg2{
position: relative;
top: -290px;
right: -240px;
z-index: 1;
}
.price_neg4{
  position: relative;
  top: -470px;
  right: -240px;
  z-index: 1;
  }
.price_neg5{
position: relative;
top: -499px;
right: -99px;
z-index: 1;
}
.carousel-control-prev{
  top:220px;
  left: -1200px;
}
.carousel-control-next{
  top:220px;
  right: -110px;
}
.green{
  border-radius: 4px;
  color: #fff;
  background: #3bc101;
  font-size: 13px;
  padding: 5px 8px;
  display: inline-block;
  font-weight: 500;
}

.list_dets{
padding: 0px 8px;
margin-top: -50px;
height: 175px;
transition: all 0.3s ease-in-out;
background: transparent

}
.list_addy{
display: flex;
align-items: center;
list-style: none outside none;
justify-content: space-between;
margin: 0px 0px 10px;
padding: 0px;
}
.listsec1{
display: flex;
align-items: center;
list-style: none;
border-bottom: 1px solid #ededed;
justify-content: space-between;
padding-top:none ;
margin-bottom: 15px;
}
.listsec3{
  display: flex;
  align-items: center;
  list-style: none outside none;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
}
.left{
  list-style: none outside none;
  align-items: left;
}
.fluid{
  width: 16%;
  padding-bottom: 0px;
}
.whit{
  color: #fff;
  font-weight: bold;
  box-shadow: #555353;
}
.Rigth{
  margin-right: 90px;
  padding-top: 210px;
  /* height: 100vh ; */
}
.card-wrapper{
  display: flex;
  /* margin: 0.5rem; */
}
.card .tex-center{
  margin: 0.5rem;
  /* border-radius: 0 solid #0038ff; */
border-color: #0073ff;
}
.card{
  margin: 0.5rem;
}
.list_box1{
  /* width: 300px; */
  /* min-width: 350px; */
  margin: 0.5rem;
  width:calc(100%/4);
  border: 1px solid #c6c6c6;
  transition: all 0.3s ease-in-out;   
  }
.carousel-control-prev{
  width: auto;
  opacity: 1;
}
.img-wrapper{
  height: 22vw;
}
.img-wrapper img{
  max-width: 100%;
  min-width: 100%;
}
.btn-default{
  color: #fff;
  background-color: #0073ff;
  font-size: 14px;
  font-weight: 500 ;
}
.pricr-tag{
  position: absolute;
  /* bottom: 15px; */
  top: 90px;
}
.form-control{
  /* border: 1px solid #4c4c4c; */
  height: 40px;
  border-radius: 5px !important;
  padding: 5px 13px;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 500;
  width:100% ;
}
.select-container{
  display: flex;
  justify-content: left;
  position:relative; 
  min-width: 250px;
  height: 40px;
  border-radius: 1px;
  /* background-color: #3bc101; */
  font-weight: 500;
  color: #4a4a4a;
}
.select-container .icon-container{
width: 50px;
height: 100%;
position: relative;
right: 1;
display: flex;
align-items: center;
justify-content: center;
}
.icon-container i{
  font-size: 20px;
  color: #3bc101;

}

#select-box{
  border: none;
  /* appearance:none; */
  padding: 0px 30px 0px 15px;
  width:75%;
  background-color: #f0eded;
  border-radius: 5px;
  font-size: 14px;
  color: black;
}
input[type="text"]{
  border: none;
  width: auto;
  height: 40px;
  padding: 0 19px;
  
}
button{
  /* position: absolute; */
  top:0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border-color: #0073ff;
  /* border-radius: 5px solid #007ce9; */
  background-color: #0073ff;
  color: #fff;
  padding: 0px 30px 0px 30px;
  margin-left: 30px;
  height: fit-content;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  
}
.search1{
  background-color: #f0eded;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  width: 50%;
}
.diss{
  opacity:1 ;
}
.wigmore{
  width: 390px;
  height: 449px;
}
.pclass{
  font-size: 15px;
  /* font-weight:lighter; */
}
.advert{
  position: relative;
  margin-bottom: 20px;
  height: 500px ;
}
.advert2{
  position: relative;
  margin-bottom: 20px;
  height: 390px 
}
.add-caption2{
  position: absolute;
  border-radius: 10px;
  bottom: 15px;
  right: 10px;
  left:10px;
  padding: 15px;
  background-color: #fff;
  z-index: 1;
}
.add-caption{
  position: absolute;
  border-radius: 10px;
  bottom: 15px;
  right: 10px;
  left:10px;
  padding: 15px;
  background-color: #fff;
  z-index: 1;
}
.sidedis{
  position: relative;
  /* margin-bottom: 20px; */
  height:489px ;
  margin-bottom: 20px;
  opacity: 95%;
}
.sidecap{
  position: absolute;
  /* border-radius: 10px; */
  bottom: 15px;
  right: 10px;
  left:10px;
  /* padding: 15px; */
  background-color:none;
  z-index: 1;
}
.bannerimg{
  position: relative;
  /* height: max-content ; */
}
.bannercap{
  position: absolute;
  border-radius: 10px;
  height: 180px;
  /* bottom: 15px; */
  /* padding: 15px; */
  background-color: #fff;
  top:10px;
  /* right: 1px; */
  z-index: 1;
}
.side-ad{
  position: relative;
  height: 76vh;
}
.price-tag{
  position: absolute;
  z-index: 1;
}
.blue{
  color: #0073ff;
  margin-left: 5px;
  /* background-color: #f04e4e; */
  border-radius:0%;
  /* padding: 5px; */
}
#listing_bar{
  float: left;
}
#listing_bar.sidenav{
  position: relative;

}
.contact_box{
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 12px;
  Margin-bottom: 19px;
  display:inline-flex;
  width: fit-content;
}
.ticon{
  margin-right: 80px;
}

.comp_img{
  float:none;
  margin: 0, auto, 15px;
  width: 70px;
  /* height: 70px; */
  margin-right: 25px;
}
.numb{
  display: inline;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  margin-right: 5px;
}
.icons9 .price_icons{
display: inline-flex;
font-weight: 600;
font-size: 16px;
vertical-align: super;
}
.push{
  margin-right: 5px;
}
.single_list_item_content {
  clear: both;
  padding-top: 25px;
}
.price_and_wish_list {
  margin-bottom: 20px;
}

.single_list_item_content .single_item_price {
  color: #4a4a4a;
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
  margin-right: 45px;
}
.single_item_wish {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  vertical-align: super;
}
.single_item_wish ul li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
.calculate_address {
display: flex;
justify-content: space-between;
align-items: center;
}
.resort-style {
  /* padding: 25px 0px 45px; */
  border-bottom: 1px solid #c8c8c8;
}
.property_features, .map_section_list {
  padding: 40px 0px 40px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  font-size: 15px;
}
.nearby_school_child .nav-tabs {
  border: 1px solid #99c7ff;
  width: 55%;
  border-radius: 5px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.go_to_home_tour {
  margin-top: 25px;
  margin-left: 0px;
}
ul.tour_section {
  margin: 20px 0px 15px;
  display: inline-block;
  width: 100%;
}
.rey{
  color: #4a4a4a;
}
.old{
  color: #4a4a4a;
  font-weight: bold;
 
}
.arr{
  color: #4a4a4a ;
  margin-right:10px ;
  font-size: 18px;
  margin-top: 10px;
}
.people_also_search {
border: 1px solid #99c7ff;
padding: 50px 25px;
margin-bottom: 30px;
margin-top: 20px;
transition: all 0.3s ease-in-out;

}

.ban_img {
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-bottom: 10px;
  height: 300px;
}
.ban_img_caption {
  position: absolute;
  bottom: 65px;
  left: 15px;
  padding: 20px 15px;
  right: 15px;
  background: #fff;
  border-radius: 5px;
  /* height: 60px; */
}
.bolder{
  font-weight: bold;
  font-size: 20px;
}
.sty{
  list-style: none;
  margin-bottom: 4px;
}
.lis{
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
.form-check{
  padding: 10px;
  margin-left: 25px;
}
.form-check-input{
  font-size: 20px;
  margin-left: 10px;
}
.form-floating{
  padding-bottom: 20px;
}
.floatingTextarea2{
width: 200px;
}
.bl{
  font-size:18px;
  font-weight: bold;
  color: #0073ff;
}
.hd{
  color: #4a4a4a;
  /* font-weight: 700; */
  font-size:32px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dh{
  color: #4a4a4a;
  /* font-weight: 700; */
  font-size:39px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bt5{
  background-color: #0073ff;
  color: white;
}

.date_card{
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 10px; 
  width: 100px;
  height: 130px;
  padding-right: 9px;
  /* align-items: center; */
  /* display: flex; */
  margin-right: 20px;
}
.wrap{
display: flex;
}
.cen{
  align-content: center;
  font-weight: bold;
  justify-content: center;
  font-size: 14px;
}
.Arrang{
  /* display: inline; */
}
.pop{
  margin-left: 6px;
}
.nodis{
  display: none;
}

.nec{
  margin-left: 20px;
}
.bi{
  font-size: 21px;
  margin-left: 20px;
  font-weight: bold;
}
.newdir{
position: absolute;
top:-35px;
right: -1400px;
/* background-color:#000; */
color: white;
}
.newdir2{
  position: relative;
  top:-165px;
  right: -260px;
  /* background-color: #000; */
  color: white;
}
.tour{
display:inline-flex;
width: 100%;
margin-bottom: 20px;

}
.sch_btn{
  background: transparent;
  align-items: center;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 500;
  padding: 5px;
  margin-left: 5px;
  margin-top: 8px;
  width:fit-content;
  text-align: center;
}
.sch_btn:hover{
  color: #0073ff;
  border-radius:9px #0073ff;
  /* outline-color: #0073ff; */
  /* background-color: #0073ff; */
  
}
.agent{
  border: 1px solid #e4e4e4;
  text-align: left;
  display: block;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.newside{
  display: block;
}
.search_btn{
  height: 40px;
}
.ti{
  width: fit-content;
}
.it{
  /* height: fit-content; */
  width: fit-content;
}
.containe7 {
  display: flex;
  justify-content: center;
  }
  
  .thumbnails {
  display:inline-flex;
  flex-direction: column;
  line-height: 0;
  }
  .thumbnails li {
  flex: auto;
  list-style: none;
  }
  
  .thumbnails li a {
  display: block;
  }
  
  .thumbnails img {
  width: 30vmin;
  height: 16.5vmin;
  object-fit: cover;
  object-position: top;
  }
  
  
  .slides {
  overflow: hidden;
  width: 55vmin;
  /* height: 100vmin; */
  list-style: none;
  }
  
  .slides li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
  }
  
  
  .slides img {
  height: 100vmin;
  object-fit:contain;
  object-position: top;
  }
  .radio{
    font-size: 40px;
  }
  
  .slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
  }
  
  .slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
  }
  
  /* @keyframes slide {
  0% {
  transform: translateY(0%);
  }
  100% {
  transform: translateY(0%);
  }
  } */
  
  
  /* @keyframes hidden {
  0% {
  z-index: 2;
  }
  100% {
  z-index: 2;
  }
  } */

/* Phone */
@media (max-width: 991px) {
.sidebar{
    background-color: rgb(177, 177, 177);
    height:55% ;
  }

.img-wrapper{
  height: auto;
}
.card:not(:first-child){
display: none;
}
.select-container {
  width:0 auto;
 margin-left: 40px;
 padding-top: 5px;
}
input[type="text"]{
  margin-left: 40px;
  margin-top: 5px;
  width: 67%;
}
.search_btn{
  margin-left: 40px;
  width: 68%;
  margin-top: 5px;
}
.carousel-indicators{
  left:-480px;
  /* bottom:10px; */
  /* height:px ; */
}
.carousel-control-next-icon{
  display: none;
}
.white1{
color: white;
font-size: 20px;
font-weight: bold;
float: left;
justify-content: left;
 }
 .sidedis{
  height: 230px;
 }
 .stop{
  overflow-y: hidden;
 }
 *{
  overflow-x: hidden;
 }
 .section-h{
  width:100%;
  height: 100%;
 }

 .marg{
  margin-left: 16px;
}
.floatingTextarea2{
  width: 200px;
  }
.price_drop{
  display: grid;
  /* grid-template-columns:50%  50%; */
}
.price_drop_left{
  float: left;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
}
.price_drop_inner_right{
  position: relative;
  float: right;
  width: 100%;
}
.price_drop_inner_right img {
  height: 312px;
  object-fit: cover;
  width: 100%;
}

.btn{
  margin-left: 10px;
  width: 90%;
}
.banner-img{
  background-size:620px;
  background-position: -120px -20px ;
}
.ti{
  /* width: fit-content; */
  /* height: 80px; */
}
.banner_body{
  position: relative;
  height: fit-content;
}
.thumbnails{
  display:inline-flex;
  flex-direction: row;
  
  }
.drop2{
  /* display:flex; */
  margin-right: 155px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 200px;
}
.pr{
  padding-right: 90px;
}
.slides li {
  width: 85vmin;
  height: 55vmin;
  position: absolute;
  z-index: 1;
  /* margin-right: 30px ; */
  }


}  

/* Tablet */
@media screen and (max-width: 1180px) and (min-width: 675px){
  input[type="text"]{
    margin-left: 40px;
    margin-top: 5px;
    width: 92%;
  }
  .search_btn{
    margin-left: 40px;
    width: 94%;
    margin-top: 5px;
  }
 
  .price_neg{
    position: relative;
    top: -270px;
    right: -90px;
    z-index: 1;
    }
 

.caritem{
  width:fit-content;
  transition: 0.4s ease-in-out ;
  /* animation-delay: 0.2ms; */
  transition-delay: .6s;
 }
 .slides li {
  width: 52vmin;
  height: 55vmin;
  position: absolute;
  z-index: 1;
  }

  .thumbnails{
    display:inline-flex;
    flex-direction:rows;
    padding-top: 90px;
    /* margin-right: 50px; */
    
    }
    .newdir{
      position: absolute;
      top:35px;
      right: -90px;
      /* background-color:#000; */
      color: white;
      }
}


  


@media screen and (max-width: 1440px) and (min-width: 1375px) {

  .price_neg3{
    position: relative;
    top: -310px;
    right: -295px;
    z-index: 1;
    }
  .price_neg{
    position: relative;
    top: -320px;
    right: -259px;
    z-index: 1;
    }

    .price_neg4{
      position: relative;
      top: -470px;
      right: -290px;
      z-index: 1;
      }
    .price_neg5{
    position: relative;
    top: -499px;
    right: -149px;
    z-index: 1;
    }

    .price_neg2{
      position: relative;
      top: -290px;
      right: -255px;
      z-index: 1;
      }

    .logo_left{
      position: relative;
      top: -259px;
      left: 15px;
      z-index: 1;
      }
      .carousel-control-prev-icon{
        position: relative;
        left: -190px;
      }


.product-small-img img{ 
    height: 70px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    transform: scale(1);
    /* opacity: 0.6; */
    transition: all 0.5s ease;
}
.product-small-img img:hover{
    /* opacity: 1; */
    transform: scale(1.2);
}
.product-small-img {
    padding-right: 10px;
}
.product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.img-container img{
    height: 550px;
    border-radius: 3px;
}
.img-container {
    position: relative;
}
.img-container i.fas {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  color: black;
}
.img-container .fa-chevron-left{
    left: 0;
}
.img-container .fa-chevron-right{
    right: 0;
}

}


@media (max-width: 768px){
    .product-small-img img {
        height: 45px;
    }
    .img-container img {
        height: 375px;
    }
}



